DB_HOST = DATABASE HOST
DB_USER = DATABASE USERNAME
DB_PASSWORD = DATABASE PASSWORD
DB_DATABASE = DATABASE NAME
DB_DATABASE_TEST = DATABASE USED FOR TESTING
DB_PORT = DATABASE PORT NUMBER
SERVER_PORT = SERVER PORT NUMBER
SECRET = YOUR OWN SECRET
NODE_ENV = DEVELOPMENT OR 
EMAIL_USER = EMAIL USER NAME FOR PASSWORD RECOVERY
EMAIL_PASS = APP PASSWORD FOR EMAIL
GOOGLE_API_KEY = GOOGLE API KEY