.formSubmission{
    padding: 0px;
}

.formField {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
  }

.formField label {
  margin-right: 10px;
}

.logInError {
  color: red;
}

.middlePageLogin{
  padding-top: 10%;
  margin-left:auto;
  margin-right:auto;
  width: 300px;
}

.homeButton{
  float: right;
}

